@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#flashaidbutton-1,
#wrapper-flashaidbutton-1
  {list-style-image: url("chrome://flashaid/content/images/toolbarbutton.png");}

/* common style for all custom buttons */
.flashaidbutton
  {-moz-image-region: rect( 0px 24px 24px  0px);}

[iconsize="small"] .flashaidbutton
  {-moz-image-region: rect( 0px 40px 16px 24px);}
